body {
  background-color: #111;
  font: normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496,sans-serif;
  overflow-y:scroll; /* add a scroll bar to all pages */
}

h1 {
  margin: 200px 0 100px; 
  font-size:81px;
  text-align: center;
  color: #0E3E9B; /* dark blue */
}

.content-container {
  margin: 0 auto; /* center everything */
  width: 90%; /* container is half the size */
}

.content-top {
  text-align:center;
}

.img img {
	display: inline-block;
	width: 825px;
}

/* Menu Start */

.menu {
  list-style-type: none; /* gets rid of dot */
  padding: 0; /* Make sure padding is zero */
  margin: 0; /* Make sure margin is zero */
  width:100%; /* ul is 100% wide */
}

.menu li {
  display:inline-block; /* lets me set the width */
  padding: 0; /* Make sure padding is zero */
  margin: 0; /* Make sure margin is zero */
  width: 33%; /* 33% for three menu items */
}

.menu li a {
  background-color: #fff;
  display: block;
  padding: 20px 25px;
  margin: 0; /* Make sure margin is zero */
  color: #111;
  text-decoration: none;
}

/* Make links blue-purple on hover */
.menu li a:hover {
	color: #6600EA; /* blue-purple */
}

/* Menu End */

.content-mid {
  margin: 5px auto; /* Center the div */
  padding: 20px;
  background-color: #D6D6D6;
}